
<div class="offcanvas-body">
    <div class="offcanvas-boty-top">
        <div class="cart-item-list">
            {% for item in cart.items %}
                <div class="single-card-item">
                    <div class="product-image">
                        <img src="{{ item | img_url: '' }}" alt="item" />
                    </div>
                    <div class="product-info">

                    {%- assign property_size = item.properties | size -%}
                    <ul class="product-details{% if item.product.has_only_default_variant and property_size == 0 %} hide{% endif %}" data-cart-item-details aria-label="{{ 'cart.label.product_details' | t }}">
                      {%- for option in variant_options -%}
                        <li class="product-details__item product-details__item--variant-option{% if item.product.has_only_default_variant %} hide{% endif %}" data-cart-item-option>{{ option.name }}: {{ option.value }}</li>
                      {%- endfor -%}

                    <h4 class="product-name">{{ item.product.title }}</h4>

                    {% assign property_size = item.properties | size %}
                    {% if property_size > 0 %}
                        {% for p in item.properties %}
                            {% assign first_character_in_key = p.first | truncate: 1, '' %}
                            {% unless p.last == blank or first_character_in_key == '_' %}
                            <h4 class="product-name line-property"> {{ p.first }}-{{ p.last }}</h4>
                            {% endunless %}
                        {% endfor %}
                    {% endif %}

                    </div>
                    <div class="product-qty">
                        <button class="dec qty-btn">-</button>
                        <input class="qty-input" type="text" title="Quantity" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" readonly />
                        <button class="inc qty-btn">+</button>
                    </div>
                    <div class="product-price">
                    <h4 class="price">{{ item.line_price | money }}</h4>
                    {% assign property_size = item.properties | size %}
                    {% if property_size > 0 %}
                        {% for p in item.properties %}
                            {% assign first_character_in_key = p.first | truncate: 1, '' %}
                            {% unless p.last == blank or first_character_in_key == '_' %}
                                <h4 class="product-name line-property"> +{{ cart.currency.symbol }}{{ p.last }}</h4>
                            {% endunless %}
                        {% endfor %}
                    {% endif %}
                    
                    </div>
                    <button id="remove{{ forloop.index }}" data-id="{{ forloop.index }}" class="close-item"><i class="fas fa-times"></i></button>
                </div>
            {% endfor %}
        </div>
        {% if cart.total_price > 0 %}
        <div class="sub-total-area">
            <h4 class="subtotal-title">Subtotaal</h4>
            <span class="subtotal-price">{{ cart.total_price | money }}</span>
        </div>
        {% endif %}
    </div>
    {% if cart.item_count > 0 %}
        <div class="offcanvas-boty-bottom">
            <div class="d-flex align-center">
                <button href="#" type="submit" name="update" class="checkout-btn update updateSkipBtn w-50 me-1">Update</button>
                <button href="#" type="submit" name="checkout" class="checkout-btn w-50 ms-1">checkout</button>
            </div>
            <a href="{{ settings.request-quote }}" type="submit" name="update" class="checkout-btn update mt-3">Offerte aanvragen</a>
        </div>
    {% endif %}
</div>