<!-- header area end here  -->
{% form 'contact', enctype: 'multipart/form-data' %}

<div class="offerte-gegevens-area section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="primary-form">
                    <div class="form-title">{{ section.settings.contact_form_title }}</div>

                    {% if form.posted_successfully? %} Bedankt voor het contact opnemen {% endif %}
                    {{ form.errors | default_errors }}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select class="form-select form-control" name="contact[owner]">
                                        <option value="Private">Privaat</option>
                                        <option value="For Business">Voor zaken</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="firstName" name="contact[first_name]"
                                        placeholder="Voornaam" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="lastName" name="contact[last_name]"
                                        placeholder="Achternaam" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="contact[email]"
                                        placeholder="E-mail" required />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="Telephone" name="contact[telephone]"
                                        placeholder="Telefoon" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="form-control" id="Mobile" name="contact[mobile]"
                                        placeholder="Mobiel" />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    {% for item in cart.items %}
                                    <input type="hidden" class="form-control" id="product" name="contact[{{item.title}}]"
                                        placeholder="{{ item.title }}" value="{{ shop.domain }}{{ item.url }}" />
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control describe-box" id="Describe" name="contact[description]" rows="3"
                                        placeholder="Beschrijf uw voorkeuren"></textarea>
                                </div>
                            </div>

                        </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="offerte-right offcanvas-cart">
                    <div class="item-list-scroll">
                        {% if cart.item_count != 0 %}
                            {% for item in cart.items %}
                                <div class="cart-item-list">
                                    <div class="single-card-item">
                                        <div class="product-image">
                                            <img src="{{ item | img_url: '' }}"
                                                alt="item">
                                        </div>
                                        <div class="product-info">
                                            <h4 class="product-name">{{ item.product.title }}</h4>
                                        </div>
                                        <div class="product-qty">
                                            <button class="dec qty-btn">-</button>
                                            <input class="qty-input" type="text" title="Quantity" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" readonly />
                                            <button class="inc qty-btn">+</button>
                                        </div>
                                        <div class="product-price">
                                            <h4 class="price">{{ item.line_price | money }}</h4>
                                        </div>
                                        <button id="remove1" data-id="1" class="close-item"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Voeg product toe aan winkelwagen voor betere gespreksondersteuning!</p>
                        {% endif %}
                        
                        <div class="sub-total-area">
                            <h4 class="subtotal-title">Subtotaal</h4>
                            <span class="subtotal-price">{{ cart.total_price | money }}</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="outlne-btn bg-solid w-100">Offerte aanvragen</button>
                        <!-- <button type="submit" name="checkout" class="outlne-btn bg-solid">Checkout</button> -->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer area start here  -->
{%- endform -%}

{% schema %}
{
    "name": "Request Quote",
    "settings":[
        
        {
            "type": "text",
            "id": "contact_form_title",
            "label": "Form Title",
            "default": "General Information"
        }
    ],
    "presets": [
      {
        "name": "Request Quote"
      }
    ]
}
{% endschema %}