<script> window.product = {{ product | json }} || {} </script>
<script type="application/json"> {{ product.variants | json }} </script>
<!-- single-product-wrape start here  -->
<div class="single-product-wrape">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image">
                    <div class="product-big-thumbail">
                        {% for image in product.images %}
                        <div class="single-image">
                            <img src="{{ image.src | img_url: '' }}" alt="product image" />
                        </div>
                        {% endfor %}
                        
                    </div>
                    <div class="product-small-thumbail">
                        {% for image in product.images %}
                        <div class="single-image">
                            <img src="{{ image.src | img_url: '' }}" alt="product image" />
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-info">
                    <h2 class="produt-title">{{ product.title }}</h2>
                    {% if product.price > 0 %}
                    <h4 class="product-price"><span id="price-single-page">{{ product.price | times:1.05 | money }}</span> 
                        ex. BTW
                    </h4>
                    {% else %}
                    <h4 class="product-price"><span id="price-single-page">{{ settings.Order_on_Request }}</span> 
                        ex. BTW
                    </h4>
                    {% endif %}
                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCart">
                        <input type="hidden" class="variant-idss" id="variant-id" name="id" value="{{ product.variants.first.id }}">

                        <!-- <button type="submit" class="count-text-btn skipChart"><span class="count-number">1</span><span class="button-text">In
                                winkelmand</span></button> -->
                        {% if product.price > 0 %}
                        <div class="count-text-btn ">
                            <input class="count-number cart-count-number" id="cart-count-number" type="number" min="0" value="1" />
                            <button class="button-text skipChart" type="submit">In winkelmand</button>
                        </div>
                        {% endif %}
                        <!-- <button type="submit" class="count-text-btn skipChart" ><span class="count-number">1</span><span
                            class="button-text">Offerte aanvragen</span></button> -->
                            
                            <div class="count-text-btn ">
                                <input class="count-number" id="" type="number" value="1" min="0" />
                                <button class="button-text skipChart" type="submit">Offerte aanvragen</button>
                            </div>

                            <input type="hidden" id="itemqty" name="quantity" value="1">
                    </form>
                           
                            {% unless product.has_only_default_variant %}
                            {% for product_option in product.options_with_values %}
                                <div class="product-swatch-color">
                                    <h3 class="product-swatch-title">{{ product_option.name }}:</h3>
                                    <select name="id" id="ProductSelect-{{ section.id }}" class="form-controls single-size" data-index="option{{ forloop.index }}" data-symbol="{{ cart.currency.symbol }}">
                                        {% for value in product_option.values %}
                                            <option value="{{ value | escape }}"> {{ value | escape }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endfor %}
                        {% endunless %}
                           
                    <h4 class="voorraad-text"><i class="fas fa-check"></i>Op voorraad</h4>
                    <p class="product-content">{{ product.description }}</p>
                    <!-- <div class="accordion product-acorion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Product informatie
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{ product.metafields.my_fields.product_contract }}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Neem contact op
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                   {{ product.metafields.my_fields.product_information }}
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- single-product-wrape start here  -->



<div class="product-recommendations"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4">
    {%- if recommendations.performed and recommendations.products_count > 0 -%}
    <!-- Gerelateerde producten area start here  -->
    <div class="gerelateerde-producten"
        data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4">
        <div class="container">
            <h2 class="section-title">Gerelateerde producten</h2>
            <div class="row">
                {% for product in recommendations.products %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-product-grid">
                        <div class="product-thumbnail">
                            <a href="{{ product.url }}"><img src="{{ product.featured_image | img_url: '' }}"
                                    alt="product" /></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-title"><a href="{{ product.url }}">{{ product.title }}</a></h3>
                            {% if product.price > 0 %}
                            <h5 class="sub-title">{{ product.price | money }}</h5>
                            {% else %}
                            <h5 class="sub-title">{{ settings.Order_on_Request }}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Gerelateerde producten area end here  -->
    {%- endif -%}
</div>

{% javascript %}

{% endjavascript %}
{% schema %}
  {
    "name": "Product recommendations",
    "settings": []
  }
{% endschema %}


